.App{
  height: 100vh;
  width: 100%;
  font-family: 'Roboto',arial,sans-serif;
  justify-content: center;
  padding: 0 2rem;
}
.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 2em); /*center the spinner*/
  width: 6em;
  height: 6em;
  border: 1.1em solid #6c3; 
  border-left: 1.1em solid #09f;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.left-header{
  height: 100%;
  display: block;
  text-align: left;
}
.main-content{
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
    align-content: center;
}
.right-header{
  display: block;
  text-align: right;
}
.card{
  box-shadow: 3px 6px 30px 0 rgba(0,0,0,.1);
  background-color: rgba(255, 255, 255, 0.7)!important;
}
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:5s;
}

.bg3 {
  animation-duration:7s;
}

.content {
  box-sizing:border-box;
  position: relative;
  text-align:center;
  height: 100%;
}
.content .row{
  height: 100%;
  padding: 2vh 0;
}

.content .footer{
  position: fixed;
  font-size: 12px;
  bottom: 0;
  right: 1rem;
  opacity: 0.8;
  color: white;
  text-align: right;
}
h1 {
  font-family:monospace;
}
.sc-fzplWN {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media screen and (max-width: 991px){
  .App{
    padding: 0 1rem;
  }
  .content {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 1.25rem!important;
  }
  h5, .h5 {
    font-size: 1rem!important;
  }
  .card-link+.card-link {
    margin-left: 0.825rem;
  }
  .nav, .links{
    width: 100%!important;
    height: 100%!important;
    position: inherit!important;
    /* display: flex!important; */
    flex-wrap: nowrap!important;
  }
  .nav-item, .ul{
    display: flex!important;
    font-size: 1rem!important;
  }
  .nav .row{
    display: flex!important;
  }
  .nav .col{
    padding-left: 0!important;
  }
  .nav svg {
    display: none;
  }
  .nav .row:nth-child(2){
    width: 100%!important;
  }
  .footer{
    display: none;
  }
}
