.App{
  /* background-color: #2F80ED; */
  height: 100vh;
  width: 100%;
  font-family: 'Roboto',arial,sans-serif;
  justify-content: center;
  padding: 0 1.5rem;
}
.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 2em); /*center the spinner*/
  width: 6em;
  height: 6em;
  border: 1.1em solid #6c3; 
  border-left: 1.1em solid #09f;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.left-header{
  /* top: 2vh;
  bottom: 2vh; */
  height: 100%;
  display: block;
  text-align: left;
}
.main-content{
  /* background: url('../src/assets/bg.png');
  background-size: cover; */
  background-color: rgba(255, 255, 255, 0.9);
  /* width: 100vw; */
  height: 100%;
  padding: 20px;
  /* margin: 4vh 0; */
  border-radius: 10px;
  /* display: block; */
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
    align-content: center;
}
.right-header{
  /* top: 2vh;
  bottom: 2vh; */
  display: block;
  text-align: left;
}

@media screen and (max-width: 768px){
  .left-header{
    width: 100%;
    text-align: center;
  }
  .nav {
    display: block!important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  .navbar, .social, .data {
    flex: 0 0 100%!important;
    /* max-width: 100%!important; */
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px){
.navbar, .social {
  flex: 0 0 13%!important;
  max-width: 13%!important;
}
.data {
  flex: 0 0 78%!important;
  max-width: 74%!important;
}
}
@media screen and (min-width: 1440px){
  .navbar, .social {
    flex: 0 0 11%!important;
    max-width: 11%!important;
  }
  .data {
    flex: 0 0 78%!important;
    max-width: 78%!important;
  }
  }
.card{
  /* box-shadow: 3px 6px 30px 0 rgba(0,0,0,.1); */
  /* background-color: rgba(255, 255, 255, 0.7)!important; */
  background-color: transparent!important;
  border: transparent!important;
}
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:5s;
}

.bg3 {
  animation-duration:7s;
}

.content {
  /* background-color:rgba(255,255,255,.8); */
  /* border-radius:.25em; */
  /* box-shadow:0 0 .25em rgba(0,0,0,.25); */
  box-sizing:border-box;
  /* left:50%;
  padding:10vmin; */
  position: relative;
  text-align:center;
  height: 100%;
  /* top:50%;
  transform:translate(-50%, -50%); */
}
.content .row{
  height: 100%;
  padding: 2vh 0;
}

.content .footer{
  position: fixed;
  font-size: 12px;
  bottom: 0;
  right: 1rem;
  opacity: 0.8;
  color: white;
  text-align: right;
}
h1 {
  font-family:monospace;
}
h2 {
  padding: 1rem 0 0 0;
}
/* h2{
  text-align: left!important;
} */
.sc-fzplWN {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/* @media screen and (max-width: 1999px){
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  width: auto!important;
}
} */
@media screen and (max-width: 991px){
  .App{
    padding: 0 1rem;
  }
  .content {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 1.25rem!important;
  }
  h5, .h5 {
    font-size: 1rem!important;
  }
  .card-link+.card-link {
    margin-left: 0.825rem;
  }
  .nav, .links{
    width: 100%!important;
    height: 100%!important;
    position: inherit!important;
    /* display: flex!important; */
    flex-wrap: nowrap!important;
  }
  .nav-item, .ul{
    display: flex!important;
    font-size: 1rem!important;
  }
  .nav .row{
    display: flex!important;
  }
  .nav .col{
    padding-left: 0!important;
  }
  .nav svg {
    display: none;
  }
  .nav .row:nth-child(2){
    width: 100%!important;
  }
  .footer{
    display: none;
  }
  .navbar, .social {
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  .data {
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  .right-header {
    width: 100%!important;
    position: relative!important;
  }
  .right-header .scroll-btn {
    display: none;
  }
}
